<%- include parcial/headder.ejs -%>

<div class="container-contact100">

    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/" method="POST">
            <span class="contact100-form-title">
                ADD MOVIE AND ITS DETAILS.
            </span>

            <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                <input class="input100" type="text" name="movie_name" placeholder="MOVIE NAME">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Please enter your email: e@a.x">
                <input class="input100" type="text"name="director_name" placeholder="DIRECTOR NAME">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
                <input class="input100" type="text" name="actor_name" placeholder="ACTOR NAME">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate = "Please enter your phone">
                <input class="input100" type="text" name="actress_name" placeholder="ACTRESS NAME">
                <span class="focus-input100"></span>
            </div>

            <div class="container-contact100-form-btn">
                
                   <div class="contact100-form-btn">
                 
                        <button type="submit">SUBMIT</button>
                    </div>
               
            </div>
        </form>
    </div>
</div>























<%- include parcial/footer.ejs -%>