<%- include parcial/headder.ejs -%>



    <div class="jumbotron ">
        <h1 class=" text-center display-4">Welcome To Movies <br> Database Management System</h1>
        <!-- <p class=" text-center lead">You can add movie display movie list and delete movies </p> -->
        <hr class="my-4">
       
        <div class="text-center">
               
           
               
          <a  class="mda animated bounceInLeft  center-block btn btn-primary btn-lg" href="/add" role="button">Add Movies</a>
        
          <a  class=" mda animated  flip center-block btn btn-danger btn-lg" href="/display" role="button">Display Movies</a>

          <a  class=" mda animated bounceInRight center-block btn btn-success btn-lg" href="/searchUser" role="button">search Movies</a> <br>
      
          <a style="margin: 20px;" class="  animated bounceInRight center-block btn btn-success btn-lg" href="/Movie" role="button">SeperatePart</a>
   
        </div>
    
      </div>

<%- include parcial/footer.ejs -%>