<%- include parcial/headder.ejs -%>

<div class="container-contact100">

    <div class="wrap-contact100">
        <form class="contact100-form validate-form" action="/searchUser" method="POST">
            <span class="contact100-form-title">
                SEARCH MOVIE FOR DETAILS
            </span>

            <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                <input class="input100" type="text" name="search" placeholder="MOVIE NAME">
                <span class="focus-input100"></span>
            </div>

        
            <div class="container-contact100-form-btn">
                
                   <div class="contact100-form-btn">
                 
                        <button type="submit">SEARCH</button>
                    </div>
               
            </div>
        </form>
    </div>
</div>





<%- include parcial/footer.ejs -%>